.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
Scripts
Gas 2006
Gas 2007
Gas 2008
Gas 2009
Gas 2010
Gas 2011
Gas 2012
Gas 2013
Gas 2014
Gas 2015
Gas 2016
Gas 2017
Gas 2018
Gas 2019
Gas 2020
Gas 2021
Gas Basic Forecast
Gas Delivered by County
Gas Design Day Capacity
Gas Fuel Used in SNG
Gas Large Customers
Gas Load Curve
Gas Natural Gas Forecast by Customer Type
Gas Peak Day Forecast
Gas Pipeline Company
Gas Sales Revenue
Gas Sales by Customer Category
Gas Utility Comparison.xlsx
Gas Utility Info
Gas Variable and Cleaner Functions
Gas.Rproj
Output Files
Example Notebooks
Sample Files for Testing